
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background: #fff;
    color: #000;
    font-family: 'Open Sans',sans-serif;
    text-align: center;
}

h1 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    color: black;
    text-decoration: none;
}
