

#footer {
    position: relative;
    width: 100%;
    background: #0099FF;
    min-height: 50px;
    padding: 20px 50px;
}

.footer-copyright {
    position: absolute;
    z-index: 10001;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-copyright > p {
    color: white;
}

.footer-copyright > p > .bold{
    font-weight: 500;
}


.footer-copyright > p > a {
    color: white;
}

.waves {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.wave {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("/static/images/main/wavefooter.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
