#main-location {
    margin-top: 120px;
    display: flex;
    z-index: 1;
    background: #F5F5F5;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    width: 100%;
    min-height: 700px;
    justify-content: center;
}

.location-sub-sec {
    display: flex;
        height: 50vh;
        flex-direction: column;
        margin-top: 120px;
        align-items: center;
}

.location-sub-sec > .sub-sec-title {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.location-sub-sec > .sub-sec-title > .title-under-line{
    width: 40vw;
    max-width: 500px;
    min-width: 300px;
    text-align: center;
    display: block;
    border-top: 2px solid black;
    margin: 10px 0;
}

.location-sub-sec > .location-discription {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
}

.location-map {
    height: 50vh;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .location-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .location-discription {
        text-align: left;
    }

    .location-map {
        height: 100%;
        width: 100%;
    }
}


