
#main-timetable {
    min-height: 100vh;
    display: flex;
    z-index: 1;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}


.sec-timetable {
    border: 2px solid #000000;
    border-radius: 1.47777778rem 1.47777778rem;
    display: flex;
    margin-top: 60px;
    width: 90%;
    max-width: 1100px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0.7vw 0.7vw 0px #000000;
}



.session-header {
    border-radius: 1.47777778rem 1.47777778rem 0 0;
    border-bottom: 3px solid #000000;
    font-size: 0;
    line-height: 3.08333333rem;
    background-color: #D9D9D9;
    background-attachment: fixed;
    color: #fff;
    font-weight: 700;
    height: 3.8rem;
    width: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
}

.session-header > img {
    width: 150px;
    display: inline-block;
    margin-left: 15px;
}

.session-table-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.session-table {
    text-align: left;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    width: 95%;
}

.session-time {
    text-align: left;
    width: 26%;
    border-bottom: 2px solid black;
    box-sizing: border-box;
    color: #333;
    font-size: 1.2rem;
    padding: 1.2rem 0.7rem;
    font-family: Arial;
}

.session-describe {
    box-sizing: border-box;
    font-weight: 400;
    text-align: left;
    vertical-align: top;
    width: 70%;
    border-bottom: 2px solid black;
    box-sizing: border-box;
    color: #333;
    font-size: 1.2rem;
    padding: 1.2rem 0.7rem;
}

.breaktime {
    background-color: #F1F1F1;
}

.session-describe > .session-info > .session-tag {
    font-size: 0.8em;
    padding: 2px 8px;
    border-radius: 0.533333rem 0.533333333rem;
    background-color: #D9D9D9;
    color: #555555;
    margin: 5px;
}

.session-describe > .session-info > .session-title {
    font-size: 1em;
    font-weight: 700;
}

.session-describe > .speaker-info {
    font-size: 0.9em;
    font-weight: 400;
    margin-top: 10px;
}
